body{ 
background-color: #000000;
width:100%;
margin-left: 0;
margin-right: 0;
}

form {
color:red;
}

h1 {
text-align:center;
font-size:50px;
color:red;
}

a {
text-decoration: none;
font-size:20px;
}
a:link{color: #ff0000;} "未訪問のリンク
a:visited { color: #ff0000; } " 訪問済みのリンク
a:hover { color: #ff0000; } " ポイント時のリンク
a:active { color: #ff0000; } " 選択中のリンク

p {
font-size:20px;
}

p.resizeimage img { border-color: #bdb76b; width: 100%; }

.twitter-timeline {
position: absolute;
left:100;
}

.yoko {
border-spacing:90px 30px;
}

#teacher {
color:red;
}

#komidashi {
color:red;
font-size:40px;
}

#center {
color:red;
text-align:center;
font-size:50px;
}

#zure {
position:relative;
left:5%;
}

<<<<<<< HEAD
.hidari {
position:relative;
left:5%;
}

=======
>>>>>>> origin/master
.akaku {
color:red;
}